<div class="login__container">
    <div class="login__logo">
         <div class="logo__img"></div>
    </div>

    <form 
        [formGroup] = "loginForm"
        autocomplete="off"
        (ngSubmit)="onSubmit()">

        <div class="card__container">
            <h2 class="card__title">
                Log In
            </h2>
    
            <div class="card__body">
                <div class="card__inputs">
                    <input 
                        type="number" 
                        placeholder="Cédula de Identidad"
                        formControlName="cedula">
                        @if (isValidField('cedula')) {
                            <span class="input__error">
                                {{ getFieldError('cedula') }}
                            </span>
                        }
                    <div class="input__password">
                        <input 
                            type="password" 
                            placeholder="Contraseña"
                            formControlName="password">
                        @if(isValidField('password')){
                            <span class="input__error">
                                {{ getFieldError('password') }}
                            </span>
                        }
                    </div>
                </div>
    
                <button class="btn__register">
                    <i class="ri-radio-button-line"></i>
                    Solicitar una cuenta
                </button>
            </div>
        </div>
        <button 
            type="submit"
            class="btn__login"
            >
            Iniciar Sesión
            <i class="ri-arrow-right-line"></i>
        </button>
    </form>

</div>