<div class="login__container">
    <div class="login__logo">
        <img src="#" alt="">
    </div>

    <div class="card__container">
        <div class="card__header">
            <h2 class="card__title">
                Log In
            </h2>
        </div>
        <div class="card__body">
            <div class="card__inputs">
                <input type="text" placeholder="CI">
                <input type="password" placeholder="Contraseña">
            </div>

            <div class="btn__register">

            </div>
        </div>
    </div>

    <button>
        Iniciar Sesión
    </button>
</div>